# 基礎工具
appdirs
attrs
atomicwrites
colorama
cycler
decorator

# 網路/HTTP
requests
charset-normalizer
certifi
idna
urllib3

# HTML / XML / 爬蟲
beautifulsoup4
lxml
html5lib
scrapy
selenium

# Flask / Django / Web
Flask
Jinja2
Django
python-decouple
dj-database-url

# 資料庫
psycopg2-binary
mysql-connector-python
sqlparse

# Jupyter / Notebook
ipykernel
ipython
ipywidgets

# 其他工具
pyyaml
sympy
black
isort
defusedxml
jsonschema
jsonpointer
cloudpickle
mkl-service
PyQt5
PyQtWebEngine
streamlit



